.uk-nav-default>li>a {
    color: #eee;
    font-size: 1.5rem;
}

.uk-nav-parent-icon>.uk-parent>a::after {
    display: none;
}

.uk-nav-default>li>a:focus,
.uk-nav-default>li>a:hover {
    color: #fff;
}

ul.uk-nav-sub {
    padding-left: 0;
}

.uk-nav-default .uk-nav-sub a {
    color: #eee;
    font-size: 1.25rem;
}

.uk-badge {
    margin-left: 10px;
    background: var(--ColorPrimary);
}

.uk-section-muted {
    background: #fdfdfd;
}

.uk-modal-title {
    font-size: 1.5rem;
}

.uk-background-primary {
    background: var(--ColorPrimary) !important;
}

.uk-lightbox-toolbar-icon {
    color: white;
}

.uk-slidenav,
.uk-lightbox-button {
    background-color: white;
    color: black;
}

.uk-slidenav:focus,
.uk-slidenav:hover,
.uk-lightbox-button:focus,
.uk-lightbox-button:hover,
.uk-lightbox-toolbar-icon:hover {
    color: var(--ColorPrimary);
}